@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,800,900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  scroll-behavior: smooth;
}

:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}


body {
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: black; */
  overflow-x: hidden;
  /* position: relative; */
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* ALL SECTION  */

.section {
  width: 100%;
  /* height: 100%; */
}


/* PRELOADER STARTS */

.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#newHall {
  width: 60%;
  height: 60%;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

path {
  fill-opacity: 1;
  stroke: #dc2f02;
  fill: #ffba08;
  stroke-width: 30;
  stroke-dashoffset: 0;
  stroke-dasharray: 86000;
  animation: animate 4s ease-in;
}

.loaded #preloader {
  visibility: hidden;
}

.loaded #preloaderBox {
  opacity: 0;
}


@keyframes animate {
  0% {
    stroke-dashoffset: 84000;
    fill: none;
    stroke: #03071e;
  }

  5% {
    stroke: #370617;
  }

  10% {
    stroke: #6a040f;
  }

  20% {
    fill-opacity: .01;
    stroke: #9d0208;
  }

  30% {
    fill-opacity: .02;
    stroke: #d00000;
  }

  40% {
    fill-opacity: .04;
    stroke: #dc2f02;
    fill: #dc2f02;
  }

  50% {
    fill-opacity: .05;
    fill: #e85d04;
  }

  75% {
    fill-opacity: .1;
    opacity: .8;
    stroke: #e85d04;
    fill: #f48c06;
  }

  90% {
    fill-opacity: .2;
    opacity: 1;
    stroke: #e85d04;
    fill: #faa307;
  }

  95% {
    fill-opacity: .5;
  }

  100% {
    stroke-dashoffset: 0;
    fill: #faa307;
    fill-opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes scale-up {
  from {
    scale: 1.0
  }

  to {
    scale: 1.2
  }
}

/* PREALODER ENDS  */



/* NAV SECTION STARTS  */



nav {
  /* height: 5rem; */
  width: 100vw;
  background-color: transparent;
  /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
  display: flex;
  position: fixed;
  z-index: 10;
  padding: 2rem;
  /* margin-top: -4rem; */
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}

.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  padding: 0px 4rem;
  margin-left: 3rem;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: #ffffff;
  font-family: 'Tilt Prism', cursive;
  font-weight: 600;
}

.nav-links li a:hover {
  color: #ffdf2a;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 2px;
  top: 19px;
  width: 0%;
  background-color: #ffdf2a;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;

}

.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {

  nav {
    position: fixed;
    z-index: 3;
    margin-top: -2rem;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 90%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    /* right: -3rem; */
    background: #131418;
    height: 100vh;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* NAV SECTION ENDS  */


/* HERO SECTION STARTS  */

.hero-section {
  height: 100vh;
  /* margin-top: -8rem; */
}

.wrapper {
  display: inline-block;
  width: 100vw;
  height: 110vh;
  background-image: url("./img/hero-background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  filter: blur(0px);
  overflow: hidden;
  text-align: center;
  margin: -4em 0;
}

.circle_container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  transform-origin: left center;
}

.circle_container .circle {
  position: absolute;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  opacity: 0;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes move {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(70vmin);
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(70vmin);
    opacity: 0;
  }
}

.wrapper .name_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  box-shadow: inset 0px 0px 30px 30px rgba(200, 200, 200, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .name_container>div {
  /* font-family: "Pacifico", cursive; */
  font-family: 'Tilt Prism', cursive;
  color: rgba(255, 255, 255, 0.7);
}

.wrapper .name_container .name {
  font-size: 5.5vmax;
}

.wrapper .name_container .designation {
  margin-top: 10px;
  font-size: 2vmax;
}

/* HERO SECTION ENDS  */

/* COUNTDOWN SECTION STARTS  */

.main {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}


.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100vh;
  color: aliceblue;
}

.countdown-container .heading{
  font-family: 'Tilt Prism', cursive;
  color: white;
  text-shadow: 3px 4px 2px #000000;
  font-size: 30px;
  font: bold;
  text-align: center;
}

.countdown-container::before{
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("./img/countdown-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* filter: blur(0px); */
  overflow: hidden;
  text-align: center;
  z-index: -5;
  filter: blur(3px);
}


.item {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Silkscreen", cursive;
  border: 2px solid white;
  padding: 1.2rem 0;
  backdrop-filter: blur(8px);
  border-radius: 5px;
}

.item .count_down {
  font-size: 40px;
  font-family: "Permanent Marker", cursive;
}

@media only screen and (max-width: 425px) {
  .countdown-section{
    margin-top: -2rem;
  }

  .item{
    padding: 0.2rem 3rem;
  }
}

/* COUNTDOWN SECTION ENDS  */


/* ABOUT SECTION STARTS  */

.about-section {
  height: 100vh;
  /* width: 100vw; */
  /* background-color: #000; */
  position: relative;
}

.about-section::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("./img/about-background-before.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0px);
  overflow: hidden;
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.clear {
  clear: both;
}

.container {
  background: #fff;
  max-width: 80vw;
  height: 80vh;
  margin: auto;
  transform: translateY(15%);
  box-shadow: 0px 0px 6px 0px #22222273;
}

.brochure-link,
.brochure-link:active,
.brochure-link:hover{
  text-decoration: none;
  color: #222;  
}

.container .circles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container .circles:before {
  content: "";
  position: absolute;
  left: -6%;
  top: -8%;
  width: 200px;
  height: 200px;
  background: #fddb33;
  border-radius: 50%;
}

/* .container .circles:after {
  content: "";
  position: absolute;
  right: -11%;
  bottom: -15%;
  width: 200px;
  height: 200px;
  background: #fddb33;
  border-radius: 50%;
} */

.container .details-container {
  position: relative;
  display: flex;
}

.container .details-container .avatar {
  margin: 10px auto;
  position: relative;
  float: left;
  padding: 20px;
}

.container .details-container .avatar img {
  max-width: 240px;
  margin-top: -70px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 6px 0px #22222273;
}

.container .details-container .about {
  float: right;
  padding: 20px;
  margin-top: 50px;
}

.container .details-container .about .name p {
  margin: 0;
  color: #222;
  font-size: 1.1em;
  font-weight: bold;
}

.container .details-container .about .name h1 {
  color: #fddb33;
  font-weight: bold;
  margin: 0;
  font-size: 3em;
}

.container .details-container .about .about-content p {
  line-height: 1.6em;
}

.container .details-container .about .about-content button {
  border: none;
  color: #222;
  padding: 10px;
  background: #fddb33;
  cursor: pointer;
  font-weight: bold;
  width: 250px;
  height: 40px;
  font-family: "Nunito", sans-serif;
  box-shadow: 1px 1px 10px 0px #2222222b;
  transition: 0.2s all;
}

.container .details-container .about .about-content button:hover {
  box-shadow: 1px 1px 1px 0px #2222222b;
}

.container .details-container .about .about-content button:focus,
.container .details-container .about .about-content button:active {
  outline: 0;
  box-shadow: 1px 1px 10px 0px #22222280;
}

.container .skills-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.container .skills-container button {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border: none;
  color: #222;
  padding: 10px;
  background: #fddb33;
  cursor: pointer;
  font-weight: bold;
  width: 250px;
  height: 40px;
  font-family: "Nunito", sans-serif;
  box-shadow: 1px 1px 10px 0px #2222222b;
  transition: 0.2s all;
}

.container .skills-container button:hover {
  box-shadow: 1px 1px 1px 0px #2222222b;
}

.container .skills-container button:focus,
.container .skills-container button:active {
  outline: 0;
  box-shadow: 1px 1px 10px 0px #22222280;
}

@media only screen and (max-width: 766px) {
  .container {
    height: auto;
  }

  .container .details-container {
    flex-direction: column;
  }

  .container .details-container .avatar img {
    width: 300px;
  }

  .container .details-container .about {
    margin-top: 10px;
  }

  .about-section::before {
    height: 158vh;
  }

  .about-section {
    /* margin-top: -0.6rem; */
    height: max-content;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUpFromBottom {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ABOUT SECTION ENDS  */


/* GALLERY SECTION STARTS  */

.gallery-section{
  background-color: #000000;
}

.gallery-header{
  font-family: 'Tilt Prism', cursive;
  color: rgba(255, 255, 255, 0.7);
  font-size: 5.5vmax;
  height: 15vh;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 2px;
  grid-auto-rows: min-max(80px, auto);
  grid-auto-flow: dense;
}

.c-1 {
  background: #1a535c;
  color: #ddd;
}

.c-2 {
  background: #4ecdc4;
}

.c-3 {
  background: #bfd7ea;
}

.c-4 {
  background: #ff6b6b;
}

.c-5 {
  background: #ffe66d;
}

.card {
  min-height: 100px;
  background-size: cover;
  background-position: 50% 50%;
}

.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
  min-height: 200px;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 3;
  min-height: 400px;
}


@media only screen and (max-width: 425px) {

  .about-section{
    margin-bottom: 10em;
  }
}

/* GALLERY SECTION ENDS  */

/* PORTFOLIO SECTION STARTS */

.portfolio-header{
  font-family: 'Tilt Prism', cursive;
  color: rgba(255, 255, 255, 0.7);
  font-size: 5.5vmax;
  height: 20vh;
  text-align: center;
  padding: 1rem 0;
}


.portfolio-section {
  height: 80vh;
  position: relative;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #000000;
}

.row{
  display: flex;
  justify-content: space-around;
  /* height: max-content; */
}

.our-team {
  padding: 30px 0 40px;
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #00325a;
}
.our-team:hover{
  border-bottom: 5px solid #2f2f2f;
}

.our-team .pic{
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00325a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
height: 100%;
  background: #2f2f2f; 
}
.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
  background: #7ab92d;
}
.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
.our-team:hover .pic img{
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post{
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform:capitalize;
}
.our-team .social{
  width: 100%;
  padding: 0;
  margin: 0;
  background: #2f2f2f;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
  color: #2f2f2f;
  background: #f7f5ec;
}
@media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
  .portfolio-section{
    height: max-content;
  }
}

/* PORTFOLIO SECTION ENDS */


/* CONTACT SECTION STARTS */



.contact-section::before {
  z-index: -1;
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("./img/contact-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0px);
  overflow: hidden;
  text-align: center;
}

#contact {
  position: relative;
  /* background-color: #6a9ac4; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}

.contact-links {
  background-color: #1f2e43;
  background: radial-gradient(
      circle at 55% 92%,
      #426691 0 12%,
      transparent 12.2%
    ),
    radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
    radial-gradient(
      circle at 20% max(78%, 350px),
      #263a53 0 7%,
      transparent 7.2%
    ),
    radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%), #1f2e43;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact-links,
  .contact-form-wrapper {
    width: 100%;
  }

  .contact-links {
    border-radius: 10px 10px 0 0;
  }

  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

.contact-section h2 {
  font-family: 'Tilt Prism', cursive;
  font-size: 5.5vmax;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

.contact-section img {
  width: 45px;
  height: 45px;
  filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
}

.contact-section img:hover {
  transform: scale(1.1, 1.1);
}

.contact-section img:active {
  transform: scale(1.1, 1.1);
  filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}

.form-item {
  position: relative;
}

label,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input,
textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all 0.225s ease;
}

.submit-btn {
  background-color: #fd917e;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 480px) {

  .contact-section{
    padding: 0 2rem ;
  }
}

@media only screen and (max-width: 400px) {

  .links {
    padding-top: 30px;
  }

  .contact-section img {
    width: 38px;
    height: 38px;
  }
}


/* CONTACT SECTION STARTS */